:root{
    --bg-body: #FFF0F6;               
    --bg-card: #ffffff;               
    --text-main: #2D0015;             
    --neon-pink: #FF1493;             
    --neon-purple: #9400D3;           
    --neon-cyan: #00F5D4;            
    --error-color: #FF0055;          
    --shadow: rgba(255, 20, 147, 0.25);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .3s ease;
}

body{
    background-color: var(--bg-body);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 100%;
    max-width: 450px; 
    background: var(--bg-card);
    padding: 40px 30px;
    border-radius: 24px;
    box-shadow: 0 15px 35px var(--shadow);
    border: 3px solid var(--neon-pink); 
}


h1 {
    color: var(--neon-pink);
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0px var(--neon-purple);
    /* -webkit-text-fill-color: white; 
    -webkit-text-stroke: 1.5px var(--neon-purple); */
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px; 
}

label {
    color: var(--neon-purple);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: -10px; 
    padding-left: 5px;
    direction: rtl;
}

input {
    width: 100%;
    padding: 14px 18px;
    font-size: 16px;
    border: 2px solid #FFE4E1;
    border-radius: 12px;
    background-color: #FFF8FA;
    color: var(--text-main);
    outline: none;
}

input:focus {
    border-color: var(--neon-pink);
    background-color: #ffffff;
    box-shadow: 0 0 12px rgba(255, 20, 147, 0.4);
}

button[type="button"] {
    background: linear-gradient(135deg, var(--neon-pink), var(--neon-purple));
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 6px 20px rgba(255, 20, 147, 0.4);
}